@font-face {
    font-family: 'freightround_probold';
    src: url('fonts/freightroundprobold-webfont.woff2') format('woff2'),
         url('fonts/freightroundprobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'freightround_prolight';
    src: url('fonts/freightroundprolight-webfont.woff2') format('woff2'),
         url('fonts/freightroundprolight-webfont.woff') format('woff');
    font-weight: normal;
    */


body {
    max-width: 600px;
    margin: auto;
   font-family: "Montserrat", sans-serif;
    font-weight: 765;
    font-style: italic;
}

h1 {
    font-family: "freightround_probold", arial, sans-serif;
}
footer p {
      font-family:  'freightround_probold', arial, sans-serif;
}

.icons { 
    font-size: 32px;
    color: rgb(2, 167, 2);
}

.rebel {
    font-size: 32px;
    color: brown;
}